<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid mt-5 ">
        <h1 class="text-center"> Recapitulatif des temps pour le mois de {{data.month}}
        </h1>
        <h3 class="mt-5">
            Developpeur : {{data.user_firstname}} {{data.user_lastname}}
        </h3>
        <h3 class="mt-3">
            Manager : {{data.manager_firstame}} {{data.manager_lastame}}
        </h3>
        <table id="developersTable" class="table table-striped table-bordered mt-5">
            <thead>
                <tr>
                    <th>Projet</th>
                    <th>Date</th>
                    <th>Temps</th>
                </tr>
            </thead>
            <tbody>
                {{#if data.table_content}}
                {{#each data.table_content}}
                <tr>
                    <td>{{project}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                </tr>
                {{/each}}
                {{/if}}
                <tr>
                    <th colspan="2" scope="row" >Total</th>
                    <td>{{data.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>